*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
height: 100vh;
display: flex;
justify-content: center;
font-family: "Helvetica", sans-serif;
background-color: #f2f2f2;
}

main{
width: 70rem;
height: fit-content;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 2rem;
background-color: white;
margin-top: 15rem;
padding: 2rem;
border-radius: 1rem;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
font-size: 1.8rem;
 }

h1{
    width: 100%;
    font-size: 4rem;
    font-weight: 50rem;
    text-align: center;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

form input{
    width: 100%;
    height: 3.5rem;
    font-size: 1.5rem;
    color: rgb(29, 28, 28);
}

button{
     width: 100%;
    height: 4.5rem;
    background-color:#4caf50;
    color: white;
    border-style: none;
    font-size: 2rem;
    padding: 1rem;
    transition: all 0.4s ease-in-out;
}

button:hover{
    background-color:#409e41;
}

.result{
    font-size: 2.4rem;
    font-weight: bold;
}